@media (min-width: 600px) {
    nav {
        display: block !important;
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }

    #menu {
        display: none;
    }

    main {
        max-width: 900px;
        margin: auto;
    }

    /* About Me Desktop Layout */
    .about-container {
        flex-direction: row;
        text-align: left;
        gap: 1.5rem;
    }

    .student-photo {
        margin-bottom: 0;
    }
}